<header></header>
<main>
	<div class="table">
		<div class="table-header">
      <div class="header__item">Name</div>
      <div class="header__item"></div>
    </div>
    <div class="table-content">
      <div class="table-row"  ng-repeat="product in $ctrl.getProducts()">		
        <div class="table-data">{{product.name}}</div>
        <div class="table-data imgContainer">
          <img src="app/assets/description.svg" uib-tooltip="Product Description" tooltip-placement="bottom" alt="View Description" ng-click="$ctrl.onDescription(product)"/>
          <img src="app/assets/delete.svg" uib-tooltip="Delete Product" tooltip-placement="bottom" alt="Delete Product" ng-click="$ctrl.onDelete(product)"/>
        </div>
      </div>
    </div>
  </div>
</main>
