.login {
  max-height: 100vh;
  padding-top: 25vh;

  > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > * {
      padding-bottom: 15px;
    }

    & button {
      padding: 5px;
      width: 100px;
      font-size: 14px;
      border-radius: 5px;
    }
  }
}

